<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <head>
        <title>Articles</title>
        <meta charset="utf-8">
    </head>

    <body>
        <th:block layout:fragment="content">

            <div class="listing">

                <h2>Historique des locations :</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Client</th>
                        <th>Nom article</th>
                        <th>Quantité</th>
                        <th>Date de location</th>
                        <th>Date de retour</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="l:${listes}">
                        <td th:text="${l.id}"></td>
                        <td th:text="${l.client.user.firstName + ' ' + l.client.user.lastName}"></td>
                        <td th:text="${l.article.nom}"></td>
                        <td th:text="${l.quantite}"></td>
                        <td th:text="${#dates.format(l.date, 'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(l.date_retour, 'yyyy-MM-dd')}"></td>

                        <td class="list-button">
                            <a th:href="@{/detailLocation(id=${l.id})}" class="button-2">Détails</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="pages">
                    <ul>
                        <li th:class="${pageCourante}==${status.index}? 'page-active' :''" th:each="pa,status:${pages}">
                            <a th:href="@{/locations(page=${status.index}, size=${size}, mc=${mc})}" th:text="${status.index +1}"></a>
                        </li>
                    </ul>
                </div>

            </div>

        </th:block>
    </body>
</html>