<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
	<head>
	    <title th:text="'Modifier ' + ${user.firstName} + ' ' + ${user.lastName}"></title>
	    <meta charset="utf-8">
	</head>
	
	<body>
		<th:block layout:fragment="content">
		
		   	<div class="create-form">
		  		
		  		<h2 th:text="|Modifier l'utilisateur n°${user.id} :|"></h2>  	
		  		<form th:action="@{/updateUser}" method="post" th:object="${user}">
		  			
		  			<input type="hidden" th:field="*{id}"/>
		  			
		  			<div>
			  			<label for="login">Adresse e-mail :</label>
			  			<input type="email" th:field="*{login}" required/>
			  			<span th:errors="${user.login}" class="error"></span>
		  			</div>
		  			
		  			<div>
			  			<label for="lastName">Nom :</label>
			  			<input type="text" th:field="*{lastName}" required/>
			  			<span th:errors="${user.lastName}" class="error"></span>
		  			</div>
		  			
		  			<div>
			  			<label for="firstName">Prénom :</label>
			  			<input type="text" th:field="*{firstName}" required/>
			  			<span th:errors="${user.firstName}" class="error"></span>
		  			</div>
		  			
		  			<div>
			  			<label for="pays">Pays :</label>
			  			<input type="text" th:field="*{pays}" required/>
			  			<span th:errors="${user.pays}" class="error"></span>
		  			</div>
		  				
			  		<div class="button-row">
					    <a th:href="@{/users}" class="button button-back">Retour</a>	
					    <input type="submit" class="button button-1" value="Valider">
				    </div>
		  		
		  		</form>
		  		
		   	</div>
		    
		</th:block>
	</body>
</html>