 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
	<head>
	    <title>Créer un utilisateur</title>
	    <meta charset="utf-8">
	</head>
	
	<body>
		<th:block layout:fragment="content">
		
		   	<div class="create-form">
		  		
		  		<h2 sec:authorize="isAuthenticated()">Nouvel utilisateur :</h2>
		  		<h2 sec:authorize="!isAuthenticated()">Créer un compte :</h2>    	
		  		<form th:action="@{saveUser}" method="post" th:object="${user}">
		  			
		  			<div>
			  			<label for="login">Adresse e-mail :</label>
			  			<input type="email" th:field="*{login}" required/>
			  			<span th:errors="${user.login}" class="error"></span>
		  			</div>
		  			
		  			<div>
			  			<label for="password">Mot de passe :</label>
			  			<input type="password" th:field="*{password}" required/>
			  			<span th:errors="${user.password}" class="error"></span>
		  			</div>
		  			
		  			<div>
			  			<label for="lastName">Nom :</label>
			  			<input type="text" th:field="*{lastName}" required/>
			  			<span th:errors="${user.lastName}" class="error"></span>
		  			</div>
		  			
		  			<div>
			  			<label for="firstName">Prénom :</label>
			  			<input type="text" th:field="*{firstName}" required/>
			  			<span th:errors="${user.firstName}" class="error"></span>
		  			</div>
		  			
		  			<div>
			  			<label for="pays">Pays :</label>
			  			<input type="text" th:field="*{pays}" required/>
			  			<span th:errors="${user.pays}" class="error"></span>
		  			</div>
		  			
		  			<div sec:authorize="hasRole('ROLE_ADMIN')">
		  				<th:block th:each="r : ${listeRoles}">
		  				<label th:text="${r.role} + ' :'"></label>
		  				<input type="checkbox" name="roles" th:value="${r.id}"/><br>
		  			</div>
		  				
			  		<div class="button-row">
					    <a sec:authorize="hasRole('ADMIN')" th:href="@{/users}" class="button button-back">Retour</a>
					    <a sec:authorize="!hasRole('ADMIN')" th:href="@{/clients}" class="button button-back">Retour</a>		
					    <input type="submit" class="button button-1" value="Valider">
				    </div>
		  		
		  		</form>
		  		
		   	</div>
		    
		</th:block>
	</body>
</html>