<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
	<head>
	    <title>Utilisateurs</title>
	    <meta charset="utf-8">
	</head>
	
	<body>
		<th:block layout:fragment="content">
		  		
	  		<div class="listing">
	  				
  				<h2>Liste des utilisateurs :</h2>
  				<form th:action="@{/users}" method="get" class="recherche">
  					<label for="mc">Recherche : </label>
  					<input type="text" id="mc" name="mc" th:value="${mc}" />
  					<input type="submit" class="button button-1" value="Chercher">
  				</form>
  				<table>	
	  				<thead>
	  					<tr>
	  						<th>Nom</th>
	  						<th>Prénom</th>
	  						<th>Login</th>
	  						<th>Pays</th>
	  						<th>Rôles</th>
	  					</tr>
	  				</thead>
	  				<tbody>
	  				
	  					<tr th:each="u:${listes}">
	  						<td th:text="${u.lastName}"></td>
	  						<td th:text="${u.firstName}"></td>
	  						<td th:text="${u.login}"></td>
	  						<td th:text="${u.pays}"></td>
	  						<td>
	  							<div th:each="r:${u.roles}" th:text="${r.role} + ','" th:remove="tag"></div>
	  						</td>
	  						<td class="list-button">
	  							<a th:href="@{/detailUser(id=${u.id})}" class="button-2">Détails</a>
	  						</td>
	  					</tr>
	  					
	  				</tbody>
  				</table>
  				
  				<div class="pages">
  					<ul>
  						<li th:class="${pageCourante}==${status.index}? 'page-active' :''" th:each="pa,status:${pages}">
  							<a th:href="@{/users(page=${status.index}, size=${size}, mc=${mc})}" th:text="${status.index+1}"></a>
  						</li>
  					</ul>
  				</div>
  				
  				<a th:href="@{/createUser}" class="button button-1">Ajouter un utilisateur</a>
	  		</div>
		    
		</th:block>
	</body>
</html>