<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
	<head>
	    <title>Connexion</title>
	</head>
	
	<body>
		<th:block layout:fragment="content">
			
			<div id="connexion">
			    <h1>Se connecter :</h1>
			    <div class="connexion-form">
			    	<form method="post" action="#">
				    	<label for="login">Adresse email :</label>
				    	<input id="login" name="login" type="email" required/>
				    	<label for="pwd">Mot de passe :</label>
				    	<input id="pwd" name="pwd" type="password" required/>
				    	<input type="submit" class="button button-1" value="Se connecter">
			    	</form>
			    </div>
		    </div>
		    
		</th:block>
	</body>
</html>