<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
	<head>
	    <title>Connexion</title>
	    <link  rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
	           th:href="@{css/bootstrap.min.css}" />          
		<link  rel="stylesheet" type="text/css" href="../static/css/style.css" 
			th:href="@{/css/style.css}" />
	</head>
	
	<body>
		<th:block layout:fragment="content">
			
			<div class="connexion">
			    <h1>Se connecter :</h1>
			    <div class="connexion-form">
			    	<form>
				    	<label>Adresse email :</label>
				    	<input type="text"/>
				    	<label>Mot de passe :</label>
				    	<input type="password"/>
				    	<a href="connexion" class="button button-1">Se connecter</a>
			    	</form>
			    </div>
		    </div>
		    
		</th:block>
	</body>
</html>