<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
	<head>
	    <title>Articles</title>
	    <meta charset="utf-8">
	</head>
	
	<body>
		<th:block layout:fragment="content">
		  		
	  		<div class="listing">
	  				
  				<h2>Liste des articles :</h2>
  				<table>	
	  				<thead>
	  					<tr>
	  						<th>Nom</th>
	  						<th>Categorie</th>
	  						<th>Quantite</th>
	  						<th>Prix</th>
	  					</tr>
	  				</thead>
	  				<tbody>
	  				
	  					<tr th:each="a:${listes}">
	  						<td th:text="${a.nom}"></td>
	  						<td th:text="${a.categorie.nom}"></td>
	  						<td th:text="${a.quantite}"></td>
	  						<td th:text="${a.prix} + '€'"></td>
	  						<td class="list-button">
	  							<a th:href="@{/detailArticle(id=${a.id})}" class="button-2">Détails</a>
	  						</td>
	  						<td class="list-button">
	  							<a href="#" class="button-1">Réserver</a>
	  						</td>
	  					</tr>
	  					
	  				</tbody>
  				</table>
  				
  				<div class="pages">
  					<ul>
  						<li th:class="${pageCourante}==${status.index}? 'page-active' :''" th:each="pa,status:${pages}">
  							<a th:href="@{/articles(page=${status.index}, size=${size}, mc=${mc})}" th:text="${status.index}"></a>
  						</li>
  					</ul>
  				</div>
  				
  				<a href="createArticle" class="button button-1">Ajouter un article</a>
	  		</div>
		    
		</th:block>
	</body>
</html>